body {
  background-image: url(../img/cork.png);
  background-size: contain;
  font-family: "Edu TAS Beginner", cursive;
}

header {
  background-image: url(../img/wall.png);
  background-size: contain;

  margin-bottom: 5rem;
}

.display-1 {
  font-weight: 800;
  /* font-size: 4rem; */
}

/** PHOTO CARD */

.card {
  border-radius: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-text {
  font-style: italic;
}

.card-img-top {
  cursor: pointer;
}

.card:hover {
  transform-origin: center;
  z-index: 10;
  transform: rotate(10deg);
  scale: 115%;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
}

.card:hover .pin-svg {
  display: none;
}

/** OVERLAY */

#overlay {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;

  z-index: 100;
}

.img-overlay {
  max-width: 100%;
}

/* **************************************************************** */

/** MEDIA QUERY */

@media (max-width: 576px) {
  .container,
  .container-sm {
    max-width: 350px;
  }

  .card-text {
    font-size: 1.1rem;
  }

  .img-overlay {
    max-width: 75%;
  }

  /* .display-1 {
    font-size: 3rem;
  } */
}

@media (min-width: 576px) {
  .container,
  .container-sm {
    max-width: 450px;
  }

  .card-text {
    font-size: 1.1rem;
  }

  .img-overlay {
    max-width: 75%;
  }
}

@media (min-width: 768px) {
  .container,
  .container-md,
  .container-sm {
    max-width: 680px;
  }

  .img-overlay {
    max-width: 85%;
  }
}

@media (min-width: 992px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 960px;
  }

  .img-overlay {
    max-width: 95%;
  }
}

@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1140px;
  }
}
