body {
  background-image: url(../img/cork.png);
  /* background-size: contain; */

  font-family: "Edu TAS Beginner", cursive;
}

header {
  background-image: url(../img/wall.png);
  background-size: contain;
  filter: brightness(110%);

  margin-bottom: 5rem;

  box-shadow: 5px 8px 20px 0px #814f1c;
}

.display-1 {
  font-weight: 800;
  color: #343a40;
  /* color: #a43f33; */
  /* text-shadow: 2px 2px 4px #9d9d9d; */
  /* font-size: 4rem; */
}

/** PHOTO CARD */

.card {
  border-radius: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-text {
  font-style: italic;
}

.card-img-top {
  cursor: pointer;
}

.card:hover {
  transform-origin: center;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  z-index: 10;
  transform: rotate(10deg);
  scale: 115%;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
}

.card:hover .pin-svg {
  display: none;
}

/** OVERLAY */

#overlay {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;

  z-index: 100;
}

.img-overlay {
  max-width: 100%;
}

/* **************************************************************** */

/** MEDIA QUERY */

@media screen and (max-width: 576px) {
  .container {
    max-width: 350px;
  }

  .card-text {
    font-size: 1.1rem;
  }

  .img-overlay {
    max-width: 75%;
  }

  .card:hover {
    scale: 105%;
  }

  /* .display-1 {
    font-size: 3rem;
  } */

  /* .container,
  .container-sm {
    max-width: 350px;
  } */
}

@media screen and (min-width: 576px) {
  .container {
    max-width: 450px;
  }

  .card-text {
    font-size: 1.1rem;
  }

  .img-overlay {
    max-width: 75%;
  }

  .card:hover {
    scale: 108%;
  }

  /* .container,
  .container-sm {
    max-width: 450px;
  } */
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 680px;
  }

  .img-overlay {
    max-width: 85%;
  }

  .card:hover {
    scale: 115%;
  }

  /* .container,
  .container-md,
  .container-sm {
    max-width: 680px;
  } */
}

@media screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }

  .img-overlay {
    max-width: 95%;
  }

  /* .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 960px;
  } */
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }

  /* .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1140px;
  } */
}
